{% extends 'base.html'%} 
{% block title %} CCTV @ CRC | Cash Desk Transactions Detail {{ object.token }} 
{% endblock %}
{%block content_header%}
<div class="app-content-header"> <!--begin::Container-->
 <div class="container-fluid"> <!--begin::Row-->
     <div class="row">
         <div class="col-sm-6">
             <h3 class="mb-0">CASH DESK TRANSACTIONS - DETAIL</h3>
         </div>
         <div class="col-sm-6">
             <ol class="breadcrumb float-sm-end">
                 <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
                 <li class="breadcrumb-item active" aria-current="page"> <a  href={% url 'cash_desk_transactions-list' %}>Cash Desk Transactions</a> </li>
                 <li class="breadcrumb-item">Detail</li>
                </ol>
         </div>
     </div> <!--end::Row-->
 </div> <!--end::Container-->
</div>
{%endblock%}
{%block content%}

<div class="card  card-primary card-outline mb-5">
   
                <div class="card-body text-center my-5">
                    <div class="row justify-content-center">                       
                   
                        <div class="col-md-8">
                          <ul class="list-group list-group text-start shadow">
                                
                                <li  class="list-group-item list-hover"> <strong>  Transactions:</strong> {{ object.transactions }}</li>
                                <li  class="list-group-item list-hover"> <strong>  Cashier Location:</strong> {{ object.area_cashier }}</li>
                                <li  class="list-group-item list-hover"> <strong>  Date:</strong> {{ object.date|date:'d-m-Y' }} </li>
                                <li  class="list-group-item list-hover"> <strong>  Time:</strong> {{ object.name}} {{ object.time}}</li>
                                <li  class="list-group-item list-hover"> <strong>  Account Type: </strong> {{ object.account_type }}</li>
                                <li  class="list-group-item list-hover"> <strong>  Token: </strong>  {{ object.token }} </li>
                                <li  class="list-group-item list-hover"> <strong>  TT Dolar: </strong>  {{ object.tt_dolar }}</li> 
                                <li  class="list-group-item list-hover"> <strong>  USD Dolar:  </strong> {{ object.usd_dolar }}   </li>                            
                                <li  class="list-group-item list-hover"> <strong>  EURO Dolar:  </strong>  {{ object.euro_dolar }}</li>
                                <li  class="list-group-item list-hover"> <strong>  GBP Dolar:  </strong>  {{ object.gbp_dolar}}</li>
                                <li  class="list-group-item list-hover"> <strong>   CAD Dolar: </strong>   {{ object.cad_dolar }}</li>
                                <li  class="list-group-item list-hover"> 
                                    <strong>  Autorized by: </strong>
                                
                                        {%if object.autorized_by  %}
                                         {{ object.autorized_by }}
                                         {%endif%}
                                        </strong></li>
                                 <li  class="list-group-item list-hover"> 
                                    <strong> Employee:  </strong>
                                    {%if object.employee %}
                                      {{ object.employee }} 
                                      {%endif%}
                                 </li>
                                <li  class="list-group-item list-hover">  <strong> Customer:  </strong> 
                                    {%if object.customer %}
                                     {{ object.customer }} 
                                     {%endif%}
                                    </li>
                                      <li  class="list-group-item list-hover"> 
                                         <strong>Machine No.</strong> 
                                     {% if object.machine_no %}                                        
                                        {{object.machine_no}}
                                      </li>
                                     {%endif%}                             
                             
                                    
                                  <li  class="list-group-item list-hover">  <strong>  Detail: </strong>
                                        {% if   object.detail  %} 
                                         <textarea class="form-control"   name="contenido" rows="5" cols="10" readonly>{{  object.detail|safe }}</textarea>
                                         {%endif%}
                                  </li>
                          </ul> 
                                    
                            </div>
                        </div>
                </div>             
            
          
                    <div class="card-footer">
                        <a class="btn btn-secondary"  href="{% url 'cash_desk_transactions-list' %}" > <i class="bi bi-arrow-left"> </i> Back</a>
                    </div>
          </div>
    </div>


    <style>
        .list-hover:hover {
            background-color: #f8f9fa;
            cursor: pointer;
        }
    </style>

{%endblock%}
