{% extends 'base.html'%} 
{% block title %}
 CCTV @ CRC | Dele teDaily Exeption Type
  {% endblock %}

{%block content%}
<div class="card card-primary card-outline mb-4">
<div class="card-header">
	<label class="card-title">Delete Daily Exeption Type</label>
</div>
<div class="card-body">
	<form method="post" class="card-header">
		{% csrf_token %}
		
		<p>Are you sure that you want to delete "{{exeption_type.exeption_type}}"?</p>
		
		<div class="card-footer">

	
		<input type="submit" class="btn btn-danger" value="Delete">
		<a href="{% url 'exeption_type-list' %}" class="btn btn-secondary">Cancel</a>
	
		</div>


	</form>

</div>
</div>

	

{%endblock%}