{% extends 'base.html'%} {% block title %} CCTV @ CRC | Delete Department {% endblock %}

{%block content%}
<div class="card card-primary card-outline mb-4">
	
	<div class="card-header">
		<label class="card-title">Delete Department</label>
	</div>
	<div class="card-body">
		<form method="post" >
			{% csrf_token %}
			
			<p>Are you sure that you want to delete "{{department.name}}"?</p>			

			<div class="card-footer">
			
					<input type="submit" class="btn btn-danger" value="Delete">
					<a href="{% url 'department-list'%}" class="btn btn-secondary">Cancel</a>
				
			</div>
		</form>	
		
	</div>

	
</div>
{%endblock%}