{% extends 'base.html'%} {% block title %} CCTV @ CRC | Detail {{ object.csh_desk }}  {% endblock %}
{%block content_header%}
<div class="app-content-header"> <!--begin::Container-->
 <div class="container-fluid"> <!--begin::Row-->
     <div class="row">
         <div class="col-sm-6">
             <h3 class="mb-0">CASH DESK ERROR - DETAIL</h3>
         </div>
         <div class="col-sm-6">
             <ol class="breadcrumb float-sm-end">
                 <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
                 <li class="breadcrumb-item"><a  href={% url 'cash_desk_error-list' %}> Cash Desk Error</a></li>
                 <li class="breadcrumb-item active" aria-current="page">
                 Detail
                 </li>
             </ol>
         </div>
     </div> <!--end::Row-->
 </div> <!--end::Container-->
</div>
{%endblock%}

{%block content%}

<div class="card  card-primary card-outline mb-5">
   
        <div class="card-body my-5">  
            <div class="row justify-content-center">
            
                <div class="col-md-8">
                
                    <div class="row text-left g-2 mb-2">
                       <ul class="list-group list-group text-start shadow">
                     
                         <li  class="list-group-item list-hover">  <strong>Error #: </strong>{{ object.id }} </li>
                         <li  class="list-group-item list-hover">  <strong>Cashier Location: </strong>{{ object.area_cashier }} </li>
                         <li  class="list-group-item list-hover"> <strong> Date:</strong> {{ object.date|date:'d-m-Y' }} </strong></li>
                         <li  class="list-group-item list-hover"> <strong>Time: </strong>{{ object.name}} {{ object.time}}</li>
                         <li  class="list-group-item list-hover"> <strong> Cashier Location: </strong> {{ object.area_cashier }} </li>
                         <li  class="list-group-item list-hover">  <strong> Error Type: </strong>  {{ object.error_type }} </li>
                         <li  class="list-group-item list-hover"> <strong> Duty Manager: </strong>  {{ object.duty_manager }} </li>
                         <li  class="list-group-item list-hover"> <strong> TT Dolar: </strong>  {{ object.tt }} </li>                
                         <li  class="list-group-item list-hover"> <strong> USD Dolar:  </strong>  {{ object.usd }}</li>
                         <li  class="list-group-item list-hover"> <strong> EURO Dolar:  </strong>  {{ object.euro}}</li>
                         <li  class="list-group-item list-hover"> <strong> Cashier:  </strong>  {{ object.cashier }}</li>
                         <li  class="list-group-item list-hover"> <strong>Supervisor:  </strong>  {{ object.supervisor }}</li>
                       
                          {% if object.report %}
                        <li  class="list-group-item list-hover">  <strong>  Report No:  </strong>  {{ object.report }}</li>
                        {% else%}
                         <li  class="list-group-item list-hover">  <strong> Report No:</strong> </li>
                        {% endif%}
                        <li  class="list-group-item list-hover"> <strong>  Found:  </strong>
                            {% if object.found %}
                            <i class="bi bi-check-circle-fill text-success"></i> <!-- Ícono verde -->
                        {% else %}
                            <i class="bi bi-x-circle-fill text-danger"></i> <!-- Ícono rojo -->
                        {% endif %}
                            
                    
                            
                          </ul>  
                    </div>
                </div>
            </div>


        </div>

            <div class="card-footer">
                <a class="btn btn-secondary " href={% url 'cash_desk_error-list'%} > Back</a>
            </div>
</div>

<style>
    .list-hover:hover {
        background-color: #f8f9fa; /* Cambia el color de fondo al pasar el mouse */
        cursor: pointer; /* Cambia el cursor a una mano */
    }
</style>

{%endblock%}
