{% extends 'base.html'%} 
{% block title %} CCTV @ CRC | Update Daily Shift
{% endblock %}
{%block content_header%}
<div class="app-content-header"> <!--begin::Container-->
 <div class="container-fluid"> <!--begin::Row-->
   <div class="row">
     <div class="col-sm-6">
       <h3 class="mb-0">CASH DESK ERROR - EDIT</h3>
     </div>
     <div class="col-sm-6">
       <ol class="breadcrumb float-sm-end">
         <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
         <li class="breadcrumb-item"><a  href={% url 'cash_desk_error-list' %}> Cash Desk Error</a></li>
         <li class="breadcrumb-item active" aria-current="page">
         Edit
         </li>
       </ol>
     </div>
   </div> <!--end::Row-->
 </div> <!--end::Container-->
</div>
{%endblock%}

{%block content%}

<div class="card card-primary card-outline mb-4">
 
  <div class="card-header">
   
  </div>

  <div class="card-body">
    <form class="pt-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">           
          
          {{form.as_p}}
          <!--
          <div class="row g-4 mb-2">
       <div class="col-md-12">
        <div class="row">
          <div class="col"><strong>{{ form.date.label_tag }}</strong> {{ form.date }}</div>
          <div class="col "><strong>{{ form.time.label_tag }}</strong> {{ form.time }}</div>          
          <div class="col " > <strong>{{ form.area_cashier.label_tag }} </strong> {{ form.area_cashier }} </div>   
          <div class="col " > <strong>{{ form.error_type.label_tag }} </strong> {{ form.error_type }} </div>
          <div class="col " > <strong>{{ form.duty_manager.label_tag }} </strong> {{ form.duty_manager }} </div>          
          <div class="col "><strong>{{ form.tt.label_tag }}</strong> {{ form.tt }} </div>    
          <div class="col "><strong> {{ form.usd.label_tag }}</strong> {{ form.usd }} </div>       
          <div class="col "><strong> {{ form.euro.label_tag }}</strong> {{ form.euro }} </div>  
          <div class="col "><strong> {{ form.cashier.label_tag }}</strong> {{ form.cashier }} </div> 
          <div class="col "><strong> {{ form.supervisor.label_tag }}</strong> {{ form.supervisor }} </div>   
        </div>  
       </div>
        </div>
      </div>
    -->
    </div>
    <div class="card-footer">        
      <input class="btn btn-success mb-2" type="submit" value="Save">                 
        <a class="btn btn-secondary mb-2" href="{% url 'cash_desk_error-list' %}">Cancel</a>
      </div>
 
</div>



{% endblock%}




 
        
