{% extends "admin/base_site.html" %}

{% block footer %}
<footer class="main-footer">
 
        <div class="d-flex justify-content-between align-items-center">
            <!-- Izquierda -->
            <div class="d-none d-sm-inline">
                <strong>
                    <p>
                        Copyright &copy; {% now "Y" %} Developed by  
                        <a href="https://clubroyalcaribbean.net/" class="text-decoration-none" target="_blank">
                            Club Royal Caribbean
                        </a>.  
                        IT Department | All rights reserved.
                    </p>
                </strong>
            </div>
    
            <!-- Derecha -->
            <div class="d-none d-sm-inline">
                <p><strong>Maisel L Estrada Rodriguez</strong> | maiselluis@gmail.com</p>
            </div>
        </div>

    
</footer>
{% endblock %}