{% extends 'base.html'%} 
{% block title %} 
CCTV @ CRC | New User Profile
{% endblock %}
{%block content_header%}

<div class="card card-primary card-outline mb-4">
 
  <div class="card-header">
    <div class="card-title">New User Profile</div>
  </div>
  <form class="pt-3" method="post" enctype="multipart/form-data">
    <div class="card-body">
      
            {% csrf_token %}
            {{ form.as_p }}              
      
    </div>
    <div class="card-footer">        
      <input class="btn btn-success mb-2" type="submit" value="Save">                 
        <a class="btn btn-secondary mb-2" href="{% url 'user_profile-list' %}">Cancel</a>
      </div>
     
  </form>
</div>
{% endblock%}




 
        
