{% extends 'base.html'%} {% block title %} CCTV @ CRC | Poker Payouts Detail {{ object.id }}  {% endblock %}

{%block content_header%}
<div class="app-content-header"> 
 <div class="container-fluid"> 
     <div class="row">
         <div class="col-sm-6">
        
             <h3 class="mb-0">Poker Payouts - DETAIL</h3>
         </div>
         <div class="col-sm-6">
             <ol class="breadcrumb float-sm-end">
                 <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
                 <li class="breadcrumb-item "><a  href={% url 'poker_payouts-list' %}> Poker Payouts</a></li>
                 <li class="breadcrumb-item active" aria-current="page"> Detail </li>
             </ol>
         </div>
     </div> 
 </div> 
</div>
{%endblock%}
{%block content%}

<div class="card  card-primary card-outline mb-5">
    <div class="card-body text-center my-5">  
            <div class="row justify-content-center">       
            
                <div class="col-sm-6">           
                    <div class="row text-left g-2 mb-2">
                        <ul class="list-group list-group text-start shadow">
                        <li class="list-group-item list-hover">    <strong>  Date: </strong>{{ object.date|date:'d-m-Y' }} 
                        <li class="list-group-item list-hover">     <strong>Time: </strong>{{ object.name}} {{ object.time}}             
                        <li class="list-group-item list-hover">     <strong>Table: </strong>{{ object.table }}
                        <li class="list-group-item list-hover">    <strong> Combination:</strong>  {{ object.combination }} 
                        <li class="list-group-item list-hover">    <strong> Bet :   </strong>{{ object.bet }} 
                        <li class="list-group-item list-hover">    <strong> Payout:  </strong> {{ object.payout }} 
                        <li class="list-group-item list-hover">    <strong> Customer: </strong>  {{ object.customer }} 
                        <li class="list-group-item list-hover">    <strong> Dealer:   </strong> {{ object.dealer }}
                        <li class="list-group-item list-hover">    <strong> Inspector:  </strong>  {{ object.inspector}}
                        <li class="list-group-item list-hover">   <strong>  PitBoss: </strong>  {{ object.pitboss }}
                             <li class="list-group-item list-hover">   <strong>  Branch: </strong>  {{ object.location }}
                    </ul>
                            
                            
                    </div>
                </div>
            </div>
      </div>
   
        <div class="card-footer">
            <a class="btn btn-secondary" href="{% url 'poker_payouts-list'%} "><i class="bi bi-arrow-left"> </i> Back</a>
        </div>
    </div>

    <style>
        .list-hover:hover {
            background-color: #f8f9fa;
            cursor: pointer;
        }
       
    </style>
{%endblock%}

