{% extends 'base.html'%}
 {% block title %} CCTV @ CRC |   Poker Payouts List 
 {% endblock%}

 {%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
      <div class="row">
          <div class="col-sm-6">
              <h3 class="mb-0">POKER PAYOUTS</h3>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a  href="{% url 'index' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Poker Payouts 
                  </li>
              </ol>
          </div>
      </div> <!--end::Row-->
  </div> <!--end::Container-->
</div>
 {%endblock%}

 {%block content%}

<div class="card card-primary card-outline mb-4">
  <div class="table-responsive">
<div class="card-header">

  <div class="container-fluid"> 
    <div class="row">
      <div class="btn-group" role="group" aria-label="Basic example">
        {%if perms.cctv.add_poker_payout%}
        <a  class="btn btn-primary bi bi-plus-lg "  href="{%  url 'poker_payouts-create' %}"   > Add  Poker Payout</a >
          {%endif%}
         
        <a   class="btn btn-outline-dark  bi bi-calendar"  href="{% url 'poker_payouts-by-day'%}" > Find Poker Payout by Date </a > 
        <a   class="btn btn-outline-dark bi bi-calendar"  href="  {%  url 'synopsis-staff' %} " >   Synopsis Staff</a > 
         <a   class="btn btn-outline-dark bi bi-calendar"  href=" {% url 'poker_payout-combination' %}" > Find Poker Payout Combinations </a > 
          <a   class="btn btn-outline-dark bi bi-calendar"  href=" {%  url 'poker_payout-customer' %}" >  Find Poker Payout Customer</a > 

      
      </div>
 </div>
  </div>
</div>
  </div>
  
{%if object_list%}
<div style="overflow-x: auto;">
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm"  id="poker_payoutsT">
      <thead >
        <tr >
          <th class="d-none d-md-table-cell">#</th>
          <th >Date</th>
          <th class="d-none d-md-table-cell">Time</th>         
          <th class="d-none d-md-table-cell">Table</th>
          <th class="d-none d-md-table-cell">Combination</th>
          <th>Bet</th>
          <th>Payout</th>
          <th>Customer</th>
          <th class="d-none d-md-table-cell"> Dealer</th>
          <th class="d-none d-md-table-cell">Inspector</th>
          <th class="d-none d-md-table-cell">Pitboss</th>
          <th class="d-none d-md-table-cell">Branch</th>
          
          <th >Options</th>

        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}

        <tr>
          <td class="d-none d-md-table-cell">{{ forloop.counter }}</td>
          <td>{{ object.date|date:'d-m-Y' }}</td>
          <td class="d-none d-md-table-cell">{{ object.time|time:"g:iA" }}</td>         
          <td class="d-none d-md-table-cell">{{ object.table }}</td>
          <td class="d-none d-md-table-cell">{{ object.combination }}</td>
          <td>{{ object.bet }}</td>
          <td>{{ object.payout }}</td>
          <td>{{ object.customer }}</td>
          <td class="d-none d-md-table-cell">{{ object.dealer }}</td>
          <td class="d-none d-md-table-cell">{{ object.inspector }}</td>
          <td class="d-none d-md-table-cell">{{ object.pitboss }}</td>
          <td class="d-none d-md-table-cell">{{ object.location }}</td>

          <td class="col-sm"> 
            <div class="btn-group" role="group" aria-label="Options">
              {%if perms.cctv.view_poker_payout%}
              <a class="btn btn-info mb-2 bi bi-folder" href="{% url 'poker_payouts-detail' object.id %}" alt="Detail"> Detail </a>
              {%endif%}
              {%if perms.cctv.change_poker_payout%}
              <a class="d-none d-md-table-cell btn btn-warning mb-2 bi-pencil-square" href="{% url 'poker_payouts-update' object.id %}" > Edit</a>
              {%endif%}
              {%if perms.cctv.delete_poker_payout%}
              <a  class="d-none d-md-table-cell btn btn-danger mb-2 bi bi-trash" href="{% url 'poker_payouts-delete' object.id %}" > Delete </a>
              {%endif%}
            </div>

          
          </td>
        </tr>

        {% endfor%}
      </tbody>
    </table>
    </div>
  </div> 
</div>
{% else %}
<div class="card-body">
  <label class="card-title" style="color:red;">No Poker Payouts yet</label>
</div>

{%endif%}
<div class="card-footer">
  
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>
<script>
$(document).ready(function(){
  $.fn.dataTable.moment('DD-MM-YYYY');
var  poker_payoutsT=$('#poker_payoutsT').DataTable(
    {
      "order": [[1, 'desc']] ,
      oLanguage: {
                      oPaginate: {
                        sNext: 'Next <i class="fas fa-angle-double-right"></i>',
                        sPrevious: '<i class="fas fa-angle-double-left"></i> Previous',
                        sFirst: '<i class="fas fa-angle-double-left"></i> First',
                        sLast: '<i class="fas fa-angle-double-left"></i> Last',

                      }
        },
        responsive:true,
  
  columnDefs: [

      { 
        width: '1%', targets: 0
       },
      
     {
       orderable: false,targets:[12]
      },
      { 
        searchable: false,targets:[12]
        },
        
    ]
    
    }
   
  )
  


});


 
  </script>
  {% endblock%}

