{% extends 'base.html'%}
 {% block title %} CCTV @ CRC |   Poker Payouts List 
 {% endblock%}

 {%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
      <div class="row">
          <div class="col-sm-6">
              <h3 class="mb-0">POKER PAYOUTS</h3>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a  href="{% url 'index' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Poker Payouts 
                  </li>
              </ol>
          </div>
      </div> <!--end::Row-->
  </div> <!--end::Container-->
</div>
 {%endblock%}

 {%block content%}

<div class="card card-primary card-outline mb-4">
  <div style="overflow-x: auto;">
    <div class="card-header">

      <div class="container-fluid"> 
        <div class="row">
    
          <div class="col-md-12">
            <div class="card p-3 shadow-sm">
              <div class="btn-group d-flex flex-wrap" role="group">
            {%if perms.cctv.add_poker_payout%}
            <a  class="btn btn-primary bi bi-plus-lg "  href="{%  url 'poker_payouts-create' %}"   > Add  Poker Payout</a >
              {%endif%}
             
            <a   class="btn btn-outline-dark  bi bi-calendar"  href="{% url 'poker_payouts-by-day'%}" > Find Poker Payout by Date </a > 
            <a   class="btn btn-outline-dark bi bi-calendar"  href="  {%  url 'synopsis-staff' %} " >   Synopsis Staff</a > 
             <a   class="btn btn-outline-dark bi bi-calendar"  href=" {% url 'poker_payout-combination' %}" > Find Poker Payout Combinations </a > 
              <a   class="btn btn-outline-dark bi bi-calendar"  href=" {%  url 'poker_payout-customer' %}" >  Find Poker Payout Customer</a > 
    
          
          </div>
            </div>
          </div>
     </div>
      </div>
    </div>
  </div>
  

<div style="overflow-x: auto;">
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm"  id="poker_payoutsT">
      <thead >
        <tr >
          <th class="d-none d-md-table-cell">#</th>
          <th>Date</th>
          <th>Time</th>         
          <th class="d-none d-md-table-cell">Table</th>
          <th class="d-none d-md-table-cell">Combination</th>
          <th>Bet</th>
          <th>Payout</th>
          <th class="d-none d-md-table-cell">Customer</th>
          <th class="d-none d-md-table-cell"> Dealer</th>
          <th class="d-none d-md-table-cell">Inspector</th>
          <th class="d-none d-md-table-cell">Pitboss</th>
          <th class="d-none d-md-table-cell">Branch</th>
          
          <th >Options</th>

        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
    </div>
  </div> 
</div>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>
<script>
$(document).ready(function(){
  $.fn.dataTable.moment('DD-MM-YYYY');
  $.fn.dataTable.moment('HH:mm');     

var  poker_payoutsT=$('#poker_payoutsT').DataTable(
    {
      serverSide:true,
      processing:true,
      responsive: true,
      searchdelay:500,

      ajax:{
        url:"{% url 'poker_payouts-list' %}",
        type:'GET',
        data:function(d){
        d.start = d.start || 0;
        d.length = d.length || 10;
        },
      },
      language: {
           processing: "<span>Loading data...</span>"
        },
      columnDefs: [{ targets: [0,3,4, 7,8,9,10,11], className: "d-none d-md-table-cell" }],



      order: [[1, "desc"],[2, "desc"]] ,
      oLanguage: {
                      oPaginate: {
                        sNext: 'Next <i class="fas fa-angle-double-right"></i>',
                        sPrevious: '<i class="fas fa-angle-double-left"></i> Previous',
                        sFirst: '<i class="fas fa-angle-double-left"></i> First',
                        sLast: '<i class="fas fa-angle-double-left"></i> Last',

                      }
        },
        columns: [
               { data: "id",orderable:true,searchable:true,
               render: function(data, type, row, meta) {
                         return ` <a class="text-blue fw-semibold text-decoration-none" href="${row.detail_url}" target="_blank">${data}</a>`;
                 }

               },    

               { data: "date",orderable:true,searchable:true, "render": function(data, type, row) {
                       return moment(data, "YYYY-MM-DD").format("DD-MM-YYYY");
                      
                   }
               },
               { data: "time",orderable:true,searchable:true, "render": function(data, type, row) {
                if (data){
                  return moment(data, "HH:mm:ss").format("h:mm A");
                }
                return "";
                   }
               },
              
               { data: "table",orderable:true,searchable:true},
               { data: "combination",orderable:true,searchable:true},
               { data: "bet",orderable:true,searchable:true },
               { data: "payout",orderable:true,searchable:true },
               { data: "customer" ,orderable:true,searchable:true},
               { data: "dealer" ,orderable:true,searchable:true},        
               { data: "inspector",orderable:true,searchable:true }, 
               { data: "pitboss",orderable:true,searchable:true },                         
               { data: "location",orderable:true,searchable:true},
               {
                data: null,
                orderable: false,
                searchable: false,
                render: function(data) {
                    let actions = '<div class="btn-group">'; 
             
                    if (data.detail_url){
                      actions += '<a class="btn btn-info mb-2 bi bi-folder" href="' + data.detail_url + '"> Detail</a>';
                    }
                              

                    if (data.edit_url){
                    actions += '<a class="btn btn-warning mb-2 bi bi-pencil-square d-none d-md-table-cell" href="' + data.edit_url + '"> Edit</a>';
                    }

                    if (data.delete_url) {
                    actions += '<a class="btn btn-danger mb-2 bi bi-trash d-none d-md-table-cell" href="' + data.delete_url + '"> Delete</a>';
                      }
                  
                    actions += '</div>';  
                    return actions;
                }
                    }


           ],
  

    
    }
   
  )
  


});


 
  </script>
  {% endblock%}

