{% extends 'base.html'%}
 {% block title %}
  CCTV @ CRC | Update Video
 {% endblock%}
 {%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
      <div class="row">
          <div class="col-sm-6">
              <h3 class="mb-0"><h1>Update Video</h1></h3>
          </div>
        
      </div> <!--end::Row-->
  </div> <!--end::Container-->
</div>
 {%endblock%}
 {%block content%}

 <div class="card card-primary card-outline mb-4">
    <div class="card-header">
        <h1>Update Video</h1>
    </div>

<div class="card-body">
   
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
 

    <div class="card-footer">
        <button class="btn btn-success mb-2" type="submit">Save</button>
        <a href="{% url 'reportvideo_list' report_id=object.report.pk %}" class="btn btn-secondary mb-2">Cancel</a>
    </div>
  
</form>

</div>

{%endblock%}