<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .message {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            z-index: 1000;
            display: none;
        }
        .success { background-color: #4caf50; color: white; }
        .error { background-color: #f44336; color: white; }
    </style>
</head>
<body>
    {% if messages %}
        <div id="popup-messages">
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        $(document).ready(function() {
           
            $('.message').fadeIn().delay(2000).fadeOut();
        });
    </script>


</body>
</html>