{% extends 'base.html'%} {% block title %} CCTV @ CRC | New Date {% endblock %}
{%block content_header%}

<div class="card card-primary card-outline mb-4">
 
  <div class="card-header">
    <div class="card-title">New Date</div>
  </div>

    <div class="card-body"> 
  
        <form " method="post" enctype="multipart/form-data">
            {% csrf_token %}  
            
         <div class="row g-3">
          {{form.as_p}}
         </div>
          
       
             
                <div class="card-footer">        
                <input class="btn btn-success mb-2" type="submit" value="Save">                 
                  <a class="btn btn-secondary mb-2" href="{% url 'main-index' %}">Cancel</a>
                </div>
              
           
        </form>
    </div>
</div>
{% endblock%}
    
