{% extends 'base.html'%} {% block title %}
 CCTV @ CRC | Delete Counterfeit
{% endblock %}
{%block content_header%}
<div class="app-content-header"> <!--begin::Container-->
 <div class="container-fluid"> <!--begin::Row-->
	 <div class="row">
		 <div class="col-sm-6">
			 <h3 class="mb-0">COUNTERFEIT MONEY - DELETE</h3>
		 </div>
		 <div class="col-sm-6">
			 <ol class="breadcrumb float-sm-end">
				 <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
				 <li class="breadcrumb-item"><a  href={% url 'counterfeit-list' %}>  Counterfeit Money</a></li>
				 <li class="breadcrumb-item active" aria-current="page">
				Delete
				 </li>

			 </ol>
		 </div>
	 </div> <!--end::Row-->
 </div> <!--end::Container-->
</div>
{%endblock%}

{%block content%}
<div class="card card-primary card-outline mb-4">
	<div class="card-header">

	</div>

	<div class="card-body">
		<form method="post" >
			{% csrf_token %}
			
			<p>Are you sure that you want to delete Counterfeit #{{counterfeit.report_nro}} with Date {{counterfeit.date}} ?</p>
			
			<div class="card-footer">
				<input type="submit" class="btn btn-danger" value="Delete">
				<a href="{% url 'counterfeit-list' %}" class="btn btn-secondary">Cancel</a>
			</div>
		</form>	
	</div>
</div>

{%endblock%}