{% extends 'base.html'%}
 {% block title %} CCTV @ CRC | Report Detail-Counterfeit #{{Counterfeit.id}}  {% endblock %}

 {%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
      <div class="row">
          <div class="col-sm-6">
              <h3 class="mb-0">COUNTERFEIT MONEY - DETAIL</h3>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
                  <li class="breadcrumb-item"><a  href={% url 'counterfeit-list' %}>  Counterfeit Money</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                 Detail
                  </li>

              </ol>
          </div>
      </div> <!--end::Row-->
  </div> <!--end::Container-->
</div>
 {%endblock%}

 {%block content%}
 <div class="card  card-primary card-outline mb-5">
  <!--   <div class="card-header">
                    <nav class="app-header navbar navbar-expand ">
                        <div class="container-fluid">                       
                        
                        <div class="container-fluid d-flex justify-content-end">                        
                          <a  class=" btn btn-outline-dark bi-filetype-pdf"  href="#"   >Export PDF </a >
                        </div>                      
                     
                      </div>
                  </nav>      
                  
          </div>
        -->
 <div class="card-body text-center my-5">  
         <div class="row justify-content-center">

    
      <div class="col-md-8">
         
       
              
          <ul class="list-group list-group text-start shadow">
       
             <li class="list-group-item list-hover">  <strong>  Date:</strong> {{ counterfeit.date|date:'d-m-Y' }}  </li>
            <li class="list-group-item list-hover">   <strong>   Location:</strong> {{ counterfeit.area_cashier }}   </li>         
            <li class="list-group-item list-hover">    <strong>  Report #:</strong>  {{ counterfeit.report_nro }} </li>
          <li class="list-group-item list-hover">     <strong>    Branch:</strong>   {{ counterfeit.location }} </li>
          <li class="list-group-item list-hover">     <strong>   USD:</strong>   {{ counterfeit.usd_dolar }} </li>
            <li class="list-group-item list-hover">   <strong>     TTD:</strong>   {{ counterfeit.tt_dolar }} </li>
           <li class="list-group-item list-hover">      <strong>   EURO :</strong>   {{ counterfeit.euro_dolar }} </li>
           <li class="list-group-item list-hover">      <strong>   GBP :</strong>  {{ counterfeit.gbp_dolar }} </li>
           <li class="list-group-item list-hover">      <strong>   Cashier :</strong> 
                {% if counterfeit.employee %}
                 {{ counterfeit.employee }}
                {% endif %}
         </li>
                
         <li class="list-group-item list-hover">           <strong>  Customer : </strong>
                    {% if counterfeit.customer %}
                     {{ counterfeit.customer }}
                    {% endif %}
         </li>
                    
          <li class="list-group-item list-hover">       <strong> Serial Number :</strong>   {{ counterfeit.serial_number }} </li>
             <li class="list-group-item list-hover">       <strong>  Notes : </strong> {{ counterfeit.notes }} </li>
          </ul> 

  </div>
</div>  

</div>
<div class="card-footer">
    <a class="btn btn-secondary" href={% url 'counterfeit-list'%} > <i class="bi bi-arrow-left"> </i> Back</a>
</div>
</div>

<style>
  .list-hover:hover {
      background-color: #e1e3e6;
      transition: background-color 0.3s ease-in-out;
  }
</style>

{%endblock%}
