{% extends 'base.html'%}
 {% block title %} CCTV @ CRC | Report Detail-Report #{{report.report_nro}}  {% endblock %}
 {%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">REPORT-DETAIL</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"> <a  href={% url 'report-list' %}> Report </a></li>
          <li class="breadcrumb-item active" aria-current="page">
           Detail
           </li>
        </ol>
      </div>
    </div> <!--end::Row-->
  </div> <!--end::Container-->
 </div>
 {%endblock%}

 {%block content%}

<div class="card  card-primary card-outline mb-5">
<div class="card-header">
    <nav class="app-header navbar navbar-expand ">
        <div class="container-fluid">
              <ul class="navbar-nav">
                <li class="nav-item">                      
                    <label class="card-title" > Report Detail-Report #{{report.report_nro}}</label> 
                </li>
              </ul>
             <ul class="navbar-nav">
             
                  <li class="nav-link float-end">                  
                      <button  class=" btn btn-outline-dark bi-filetype-pdf" onclick="openReport()">PDF</button>
                  </li>
                 <!-- <li class="nav-link"float-end">
                    <a  class=" btn btn-outline-dark bi bi-file-excel"  href="#"   >  Excel </a >
                  </li>                      
                  -->
              </ul>  
      </div>
  </nav>  
    
</div>
<div class="card-body">
  <div style="overflow-x: auto;">
  <div class="row g-4 mb-4">
                <div class="col-sm-4">

                  <p><strong>Report #:</strong> {{ report.report_nro }}</p>   
                  <p><strong>Date:</strong> {{ report.date|date:'d-m-Y' }}</p>
                  <p><strong>Time:</strong> {{ report.time|time:"g:i A" }}</p>
                  <p><strong>Origination:</strong> {{ report.origination }}</p>     
                  <p><strong>Report Title:</strong> {{ report.report_title }}</p>     
                  <p> <strong>Detail:</strong>  <textarea class="form-control"   name="contenido" rows="10" cols="50" readonly>{{  report.detail|safe }}</textarea></p>
                
                
                
              
                </div>
              <div class="col-sm-4">
                <p><strong>Casino Area:</strong> {{ report.area }}</p>
                <p><strong>Duty Manager:</strong> 
                {% if report.duty_manager %}
                {{ report.duty_manager }} ({{ report.duty_manager_id }})  </p>
                {%endif%}
                <p><strong>PitBoss/Supervisor:</strong> 
                {% if report.pittboss %}
              {{ report.pittboss }} ({{ report.pittboss_id }})</p>
                {%endif%}
                <p><strong>Inspector/Senior:</strong>
                {% if report.inspector %}
                {{ report.inspector }} ({{ report.inspector_id }})</p>
                {%endif%}
                <p><strong>Dealer/Cashier/Attendant:</strong>
                {% if report.dealer %}
                {{ report.dealer }} ({{ report.dealer_id }})</p>
                {%endif%}
                <p><strong>Others:</strong>
                  {% if report.other %}
                  {{ report.other }} ({{ report.other_id }})</p>
                  {%endif%}
                <p>  <strong>Action Taken:</strong><textarea  class="form-control" name="contenido" rows="5" cols="50" readonly>{{  report.action_token|safe }}</textarea> </p>
                
              

                </div>
              <div class="col-sm-4">
                {%if report.customer %}
                <p><strong>Customer:</strong> {{ report.customer }} ({{ report.customer_id }}) </p>
                {%endif%}
                <p><strong>Report Type:</strong> {{ report.report_type }}</p>
                {%if report.winning  %}
                <p><strong>Winning #:</strong> {{ report.winning }}</p>
                {%endif%}
                {%if report.box  %}
                <p><strong>Box:</strong> {{ report.box }}</p>
                {%endif%}
                <p><strong>USD Rate:</strong> {{ report.usd_rate }}</p>
                <p><strong>Euro Rate:</strong> {{ report.euro_rate }}</p>
                <p><strong>GBP Rate:</strong> {{ report.gbp_rate }}</p> 
                <p><strong>Value(US):</strong> {{ report.value_us }}</p>       
                <p><strong>CCTV Officer :</strong> {{ report.cctv_id }} ({{ report.cctv_id_id }})</p>
                <p><strong>Money Paid:</strong> {{ report.money_paid }}</p>
                <p><strong>Money Not Paid:</strong> {{ report.money_not_paid }}</p>
                <p><strong>Money Recovered:</strong> {{ report.money_recovered }}</p>
                <p><strong>Money Not Recovered:</strong> {{ report.money_not_recovered }}</p>  
                  
                <p>
                  <strong>
                    Footage:
                  </strong> 
                  {%if report.dubbed_to  %}
                  ✓
                  {%else %}
                  ✗
                  {%endif%}
                
              </p> 
              </div>
    </div>
{% if report.dubbed_to    %}
    <div  class="row g-4 mb-4">
      <h1>Video List</h1>
        {% for video in videos %}
                           
                  {% if video.video_file %}
                  <tr>
               
                  <td>
                    <div>
                      {{ video.caption }}
                    </div>
                 
                  </td>
                  <td> 
                      <div class="embed-responsive embed-responsive-16by9">
                      <video controls autoplay class="embed-responsive-item object-fit-sm-contain" width="100%" height="auto" >
                       <source src="{{ video.video_file.url }}" type="video/mp4" >
                        Your browser does not support the video tag.
                       </video>  
                      </div>
                   </td>
                      
                  </tr>
                  {% endif %}
              
              
          {% endfor %}
      </div>
      {% endif %}

  </div>
 
  
</div>
<div class="card-footer">
    <a class="btn btn-secondary " href="{% url 'report-list'%}" > <i class="bi bi-arrow-left"> </i> Back</a>
</div>
</div>

<script>
  function openReport() {
    const reportUrl = href="{% url 'reporte_pdf' object.report %}";
    window.open(reportUrl, "_blank");
  }
</script>
{%endblock%}
