{% extends 'base.html'%} {% block title %}
 CCTV @ CRC | Filter Report by Date
{% endblock %}

{%block content_header%}
<div class="app-content-header"> <!--begin::Container-->
 <div class="container-fluid"> <!--begin::Row-->
	 <div class="row">
		 <div class="col-sm-6">
			 <h3 class="mb-0">REPORT-Find By Date</h3>
		 </div>
		 <div class="col-sm-6">
			 <ol class="breadcrumb float-sm-end">
				 <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
				 <li class="breadcrumb-item active" aria-current="page"> <a  href={% url 'report-list' %}>Report </a></li>
				 <li class="breadcrumb-item active" aria-current="page">
					Find By Date
				  </li>
			 </ol>
		 </div>
	 </div> <!--end::Row-->
 </div> <!--end::Container-->
</div>
{%endblock%}

{%block content%}

<div class="card card-primary card-outline mb-4">
  <div style="overflow-x: auto;">
  <div class="card-header">
    
    <form method="get" > 
      <div class="container-fluid">
        <div class="row d-flex justify-content-end">   
          <div  class="col-sm-auto d-flex justify-content-end"> 
            {{ form.location}}
           </div> 
          <div  class="col-sm-auto d-flex justify-content-end align-self-center">                  
            <label class="card-title">{{ form.date_begin.label_tag }} </label>            
        </div> 
        <div  class="col-sm-auto d-flex justify-content-end"> 
        {{ form.date_begin }}
        </div> 
        <div  class="col-sm-auto d-flex justify-content-end align-self-center">     
          <label class="card-title">{{ form.date_end.label_tag }}</label> 
        </div> 
        <div  class="col-sm-auto d-flex justify-content-end">     
          {{ form.date_end }}
        </div> 
        <div  class="col-sm-auto">     
          <button class="btn btn-primary " type="submit"> Find</button>               
        
        </div>
        <div class="col-sm-auto">
                       
          <button class="btn btn-outline-dark bi-filetype-pdf" data-url="{% url 'reporte_by_date_pdf' %}"   onclick="openReport(this)">PDF</button>
        
        </div>                              
    
      </div>                  
      </div>                                                  
      
    </form>  
       
</div>
  </div>
                          
                 
                         
       
   
  <div style="overflow-x: auto;">
    <div class="card-body">  
      <h2>Results:</h2>  
           
      <table class="table table-bordered table-hover  table-sm" id="reportT" >
        <thead>
          <tr >
            <th> No.</th>
            <th>Date</th>
            <th>Time</th>         
            <th>Report Type</th>  
            <th>Report Title</th>        
            <th>Location </th>
            <th>Origination</th>
            <th>Duty Manager</th>
            <th>Pittboss/Supervisor</th> 
            <th>Inspector/Senior</th> 
            <th>Dealer/Cashier/Attendant</th>                    
               
            <th>Branch</th>                 
          
          </tr>
        </thead>
        <tbody>
          {% for object in report%}
  
          <tr >
            <td> <a href="{% url 'report-detail' object.report%}" target="_blank"  class="text-blue fw-semibold text-decoration-none">    {{ object.report_nro }} </a></td>
            <td>{{ object.date|date:'d-m-Y' }}</td>
            <td>{{ object.time|time:"g:iA" }}</td>         
            <td>{{ object.report_type }}</td> 
            <td>{{ object.report_title }}</td>         
            <td>{{ object.area }}</td>
            <td>{{ object.origination }}</td>
            {%if  object.duty_manager %}
            <td>{{ object.duty_manager }}</td>
            {%else%}
            <th></th>
            {%endif%}
            {%if object.pittboss %}
            <td>{{ object.pittboss }}</td>
            {%else%}
            <th></th>
            {%endif%}
            {%if object.inspector  %}
            <td>{{ object.inspector }}</td>
            {%else%}
            <th></th>
            {%endif%}
           
            {%if object.dealer %}
            <td>{{ object.dealer }}</td>
            {%else%}
            <th></th>
            {%endif%}
           
           
  
            <td>{{ object.location }}</td>
            
           
          </tr>
          
          
          {% endfor%}
        </tbody>
    
        </table>

   
    </div>
  </div>
    <div class="card-footer">
      
      <a class="btn btn-secondary mb-2 "  href="{% url 'report-list' %}" > <i class="bi bi-arrow-left"> </i> Back</a> 
           
       
          </div>
    
    </div>

    <script>

  

      var  reportT=$('#reportT').DataTable(
        {
          order: [[0, 'desc']],
          
          oLanguage: {
                          oPaginate: {
                            sNext: 'Next <i class="fas fa-angle-double-right"></i>',
                            sPrevious: '<i class="fas fa-angle-double-left"></i> Previous',
                            sFirst: '<i class="fas fa-angle-double-left"></i> First',
                            sLast: '<i class="fas fa-angle-double-left"></i> Last',
    
                          }
                                           },
      
      columnDefs: [
          
          
         {
           orderable: false,targets:[11]
          },
        
          { 
            searchable: false,targets:[11]
            },
            
        ]
        
        }
       
      )
      
      </script>

<script>
  function openReport(button) {

   const baseUrl = button.getAttribute('data-url');   
   const dateBegin  = document.querySelector('[name="date_begin"]').value;
   const dateEnd = document.querySelector('[name="date_end"]').value;
   const location = document.querySelector('[name="location"]').value; 
   const fullUrl = `${baseUrl}?location=${location}&date_begin=${encodeURIComponent(dateBegin)}&date_end=${encodeURIComponent(dateEnd)}`; 
 
   window.open(fullUrl, '_blank');
 }
    </script>

   
{% endblock %}