{% extends 'base.html'%}
 {% block title %}
  CCTV @ CRC | Report  List
 {% endblock%}
 {%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
      <div class="row">
          <div class="col-sm-6">
              <h3 class="mb-0"> REPORT</h3>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                   Report
                  </li>
              </ol>
          </div>
      </div> <!--end::Row-->
  </div> <!--end::Container-->
</div>
 {%endblock%}
 {%block content%}

<div class="card card-primary card-outline mb-4">
  <div style="overflow-x: auto;">
      <div class="card-header">
      
          <div class="container-fluid"> 
            <div class="row">
              <div class="btn-group" role="group" aria-label="Basic example">
                {% if perms.cctv.add_report %}
                <a  class="btn btn-primary mb-2 bi-plus-lg"  href="{% url 'report-create' %}"   > Add Report </a >
                {%endif%}

                  <a   class="btn btn-outline-dark mb-2 bi bi-calendar"  href="{% url 'filter-report' %}" > Find Report by Date </a >   
                  <a   class="btn btn-outline-dark mb-2 bi-binoculars"  href="{% url 'filter-report-id' %}"   > Find Report by Report No. </a >
                  <a   class="btn btn-outline-dark mb-2 bi-filter-square"  href="{%  url 'filter-report-type' %}"> Find Report by  Report Type </a >
              </div>
       
          </div>

          </div>


      </div>
</div>
  {%if object_list %}
  <div style="overflow-x: auto;">
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered table-hover  table-sm" id="reportT" >
      <thead>
        <tr >
          <th class="d-none d-md-table-cell"> No.</th>
          <th >Date</th>
          <th class="d-none d-md-table-cell">Time</th>         
          <th class="d-none d-md-table-cell">Report Type</th>  
          <th>Report Title</th>        
          <th class="d-none d-md-table-cell">Location </th>
          <th class="d-none d-md-table-cell">Origination</th>
          <th class="d-none d-md-table-cell">Duty Manager</th>
          <th class="d-none d-md-table-cell">Pittboss/Supervisor</th> 
          <th class="d-none d-md-table-cell">Inspector/Senior</th>         
             
          <th>Branch</th>                 
         <th> Options </th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list%}

        <tr >
          <td class="d-none d-md-table-cell">{{ object.report_nro }}</td>
          <td>{{ object.date|date:'d-m-Y' }}</td>
          <td class="d-none d-md-table-cell">{{ object.time|time:"g:iA" }}</td>         
          <td class="d-none d-md-table-cell">{{ object.report_type }}</td> 
          <td>{{ object.report_title }}</td>         
          <td class="d-none d-md-table-cell">{{ object.area }}</td>
          <td class="d-none d-md-table-cell">{{ object.origination }}</td>
          {%if  object.duty_manager %}
          <td class="d-none d-md-table-cell">{{ object.duty_manager }}</td>
          {%else%}
          <td class="d-none d-md-table-cell"></td>
          {%endif%}
          {%if object.pittboss %}
          <td class="d-none d-md-table-cell">{{ object.pittboss }}</td>
          {%else%}
          <td class="d-none d-md-table-cell"></td>
          {%endif%}
          {%if object.inspector  %}
          <td class="d-none d-md-table-cell">{{ object.inspector }}</td>
          {%else%}
          <td class="d-none d-md-table-cell"></td>
          {%endif%}
         
         
         
         

          <td>{{ object.location }}</td>
          
          <td class="col-sm">
            <div class="btn-group">
              {% if perms.cctv.view_report %}
            <a class=" btn btn-info mb-2  bi bi-folder"  href="{% url 'report-detail' object.report %}"> Detail</a>           
             
         
            {%endif%}
            {% if perms.cctv.change_report %}
            <a class="btn btn-warning mb-2 bi bi-pencil-square d-none d-md-table-cell"  href="{% url 'report-update' object.report %}" > Edit</a> 
            {%endif%}
            {% if perms.cctv.delete_report %}
            <a class="btn btn-danger mb-2 bi bi-trash d-none d-md-table-cell" href="{% url 'report-delete' object.report %}" > Delete</a>
            {%endif%}
            {%if object.dubbed_to %}
            <a class="btn btn-outline-success mb-2 bi bi-camera-video d-none d-md-table-cell" href="{% url 'reportvideo_list' object.report %}" > Video</a>
            {%endif%}
                                 
              
        
            </div>
          </td>
        </tr>
        
        
        {% endfor%}
      </tbody>

    </table>
    </div>
  
  </div>
  </div>
  <!--
  <div class="card-footer clear-fix">
    <a  class="btn btn-primary mb-2 bi bi-plus"  href="{% url 'report-create' %}"   > New</a >
  </div>
  -->
  {%else%}
  <div class="card-body">
 
   <label class="card-title" style="color: red;"> No Report  yet</label>
  </div>
 <!-- <div class="card-footer clear-fix">
    <a  class="btn btn-primary mb-2 bi bi-plus"  href="{% url 'report-create' %}"   > New</a >
  </div>-->
  {%endif%}

  
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>

<script>

$(document).ready(function () {
    $.fn.dataTable.moment('DD-MM-YYYY');



    var  reportT=$('#reportT').DataTable(
    {
      "order": [[1, 'desc'],[2, 'desc']], 

      oLanguage: {
                      oPaginate: {
                        sNext: 'Next <i class="fas fa-angle-double-right"></i>',
                        sPrevious: '<i class="fas fa-angle-double-left"></i> Previous',
                        sFirst: '<i class="fas fa-angle-double-left"></i> First',
                        sLast: '<i class="fas fa-angle-double-left"></i> Last',

                      }
        },
      "responsive": true,
  
      columnDefs: [
       /*  { 
                targets: 1, 
                render: function(data, type, row) {
                    if (type === 'sort') {
                       
                        let parts = data.split('-'); 
                        return new Date(parts[2], parts[1] - 1, parts[0]).getTime(); 
                    }
                    return data; 
                }
            },*/
      
      
     {
       orderable: false,targets:[11]
      },
    
      { 
        searchable: false,targets:[11]
        },
        
    ]
    
    }
   
  )

  });

  
  </script>

  {% endblock%}

