{% extends 'base.html'%}
 {% block title %} CCTV @ CRC | Daily Shift List 
 {% endblock%}
 {%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
      <div class="row">
          <div class="col-sm-6">
              <h3 class="mb-0">DAILY SHIFT REPORT</h3>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                  Daily Shift Report
                  </li>
              </ol>
          </div>
      </div> <!--end::Row-->
  </div> <!--end::Container-->
</div>
 {%endblock%}
 {%block content%}

<div class="card card-primary card-outline mb-4">
  <div style="overflow-x: auto;">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card p-3 shadow-sm">
              <div class="btn-group d-flex flex-wrap" role="group">
            {% if perms.cctv.add_dailyshift %}
            <a  class="btn btn-primary mb-2 bi-plus-lg"  href="{%  url 'daily_shift-create' %}"   > Add Shift</a >
              {%endif%}
              <a   class="btn btn-outline-dark mb-2 bi bi-calendar"  href="{% url 'dailyshift-by-day'%}" > Find Shift  by Date </a > 
                        
          </div>
            </div>
          </div>

        </div>          
    </div>
  </div>
  </div>

<div style="overflow-x: auto;">
  <div class="card-body">
    <table class="table table-bordered table-hover table-sm"  id="daily_shift">
      <thead>
        <tr >
          <th class="d-none d-md-table-cell">#</th>
          <th>Date</th>
          <th>Shifts</th>                  
          <th>Supervisor</th>
          <th  class="d-none d-md-table-cell">Officer 1</th>
          <th  class="d-none d-md-table-cell">Officer 2</th>
          <th  class="d-none d-md-table-cell">Casino Open</th>
          <th  class="d-none d-md-table-cell">Casino Close</th>
          <th  class="d-none d-md-table-cell">USD Rate</th>
          <th  class="d-none d-md-table-cell">EURO Rate</th>
          <th  class="d-none d-md-table-cell">GBP Rate</th>
          <th>Branch</th>
          <th >Options</th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
  </div> 
</div>

</div>



<script>
   $(document).ready(function () {
  
       $.fn.dataTable.moment('DD-MM-YYYY'); // Para la fecha
       $.fn.dataTable.moment('hh:mm A');     // Para la hora
      

       var table = $('#daily_shift').DataTable({
           processing: true,
           serverSide: true,
           ajax: {
            url: "{% url 'daily_shift-list' %}",
            type: "GET",
            data: function(d) {
                d.start = d.start || 0;
                d.length = d.length || 10;
            }
           
        
     
        
           },
           language: {
           processing: "<span>Loading data...</span>"
        },
           columnDefs: [
                    { targets: [0, 4, 5,6,7,8,9,10], className: "d-none d-md-table-cell" }
                  ],
           columns: [
               { data: "id",
               orderable:true,
               searchable:true,
               render: function(data, type, row, meta) {
                         return ` <a class="text-blue fw-semibold text-decoration-none" href="${row.detail_url}" target="_blank">${data}</a>`;
                 }
              },              
               { data: "date", "render": function(data, type, row) {
                       return moment(data, "YYYY-MM-DD").format("DD-MM-YYYY");
                   }
               },
              
               { data: "shift",orderable:true,searchable:true},
               { data: "supervisor",orderable:true,searchable:true},
               { data: "officer1",orderable:true,searchable:true },
               { data: "officer2",orderable:true,searchable:true },
               { data: "casino_open" ,orderable:true,searchable:true, render: function(data, type, row) {
                if (data){
                  return moment(data, "HH:mm:ss").format("h:mm A");
                }
                return "";
                      
                      
                   }},
               { data: "casino_close" ,orderable:true,searchable:true, render: function(data, type, row) {
                if (data){
                  return moment(data, "HH:mm:ss").format("h:mm A");
                }
                return "";
                      
                      
                   }},        
               { data: "usd_rate",orderable:true,searchable:true },
               { data: "euro_rate",orderable:true,searchable:true},
               { data: "gbp_rate",orderable:true,searchable:true},
                   
               { data: "location",orderable:true,searchable:true},
               {
                   data: null,
                   orderable: false,
                   searchable: false,
                   render: function(data) {
                    let actions = '<div class="d-flex justify-content-end gap-2">';
                    {% if perms.cctv.view_dailyshift %}
                    actions += '<a class="btn btn-info mb-2 d-flex align-items-center" href="' + data.detail_url + '"> ' +
                               '<i class="bi bi-folder me-1"></i> Detail</a>';
                    {% endif %}
                    {% if perms.cctv.change_dailyshift  %}
                    actions += '<a class="btn btn-warning mb-2 d-flex align-items-center d-none d-md-table-cell" href="' + data.edit_url + '"> ' +
                               '<i class="bi bi-pencil-square me-1"></i> Edit</a>';
                    {% endif %}
                    {% if perms.cctv.delete_dailyshift %}
                    actions += '<a class="btn btn-danger mb-2 d-flex align-items-center d-none d-md-table-cell"  href="' + data.delete_url + '"> ' +
                               '<i class="bi bi-trash me-1"></i> Delete</a>';
                    {% endif %}
                    actions += '</div>';
                    return actions;
                }
                  
               }
           ],
           order: [[1, "desc"]], 
           oLanguage: {
            oPaginate: {
                sNext: 'Next <i class="fas fa-angle-double-right"></i>',
                sPrevious: '<i class="fas fa-angle-double-left"></i> Previous',
                sFirst: '<i class="fas fa-angle-double-left"></i> First',
                sLast: '<i class="fas fa-angle-double-left"></i> Last',
            }
        },
           responsive: true,
           searchDelay: 500,

       });
   });
</script>
  {% endblock%}

