{% extends 'base.html'%} 
{% block title %} CCTV @ CRC | Update Daily Shift
{% endblock %}
{%block content_header%}
 <div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
  <div class="row">
    <div class="col-sm-6">
    <h3 class="mb-0">DAILY SHIFT REPORT- EDIT</h3>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-end">
      <li class="breadcrumb-item"><a  href={% url 'index' %}>Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"> <a  href={% url 'daily_shift-list' %}>Daily Shift</a> </li>
      <li class="breadcrumb-item">Edit</li>
     </ol>
    </div>
  </div> <!--end::Row-->
  </div> <!--end::Container-->
 </div>
 {%endblock%}
{%block content%}

<div class="card card-primary card-outline mb-4"> 
  <div class="card-header">
  
  </div>

  <div class="card-body">
    <form class="pt-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <strong>  {{form.as_p}} </strong>
    </div>
       
         
            
            <div class="card-footer">        
                <input class="btn btn-success mb-2" type="submit" value="Save">                 
                  <a class="btn btn-secondary mb-2" href="{% url 'daily_shift-list' %}">Cancel</a>
                </div>
            
        </form>
    </div>
 </div>
{% endblock%}
        
